<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo fugit, minus ipsum dolorum officiis itaque delectus amet aperiam eveniet odio nesciunt ullam deleniti iusto ab, corporis eum porro. Odit.
        Quia ipsam repellat non voluptas? Voluptatibus in, saepe consectetur, modi deleniti voluptates aut at cum praesentium harum officia sapiente blanditiis dicta consequatur laborum inventore similique quasi nobis, nisi quidem provident.
        Autem laborum, quidem rerum magni esse vel iure in aspernatur voluptates odit. Quibusdam, quos, explicabo sint vel, illum adipisci exercitationem voluptas optio ab culpa in ex commodi temporibus doloribus hic!
    </div>
    // added via Model :  
    <p data-th-text="${name}"> 
        
    </p>
</body>
</html>