<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class=" text-2xl bg-slate-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo fugit, minus ipsum dolorum officiis itaque delectus amet aperiam eveniet odio nesciunt ullam deleniti iusto ab, corporis eum porro. Odit.
        Quia ipsam repellat non voluptas? Voluptatibus in, saepe consectetur, modi deleniti voluptates aut at cum praesentium harum officia sapiente blanditiis dicta consequatur laborum inventore similique quasi nobis, nisi quidem provident.
        Autem laborum, quidem rerum magni esse vel iure in aspernatur voluptates odit. Quibusdam, quos, explicabo sint vel, illum adipisci exercitationem voluptas optio ab culpa in ex commodi temporibus doloribus hic!
    </div>
    // added via Model :  
    <p data-th-text="${name}"> 
        
    </p>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
        <span class="font-medium">Info alert!</span> Change a few things up and try submitting again.
      </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>